{% extends "catan/base_template.html" %}
{% load static %}

{% block title %}
	catan - {{lobby.title}}
{% endblock title %}
{% block js %}
	{{block.super}}
	<script type="text/javascript" src="{% static "catan/lobby.js" %}"></script>
{% endblock js %}

{% block content %}
	<style type="text/css">
		.jumbotron {
			text-align: center;
			padding:5px;
		}	
		.alert {
			text-align: center;
		}
		
	</style>
	<nav class="navbar navbar-dark bg-primary">
	  <div class="container-fluid">
	  <div class="row-fluid">
	    <h2 class="col-sm-10 nav-brand">{{lobby.title}} Lobby</h2>
	    <ul class="col-sm-2 nav navbar-nav  ">
	      <li><a href="{% url "catan:index" %}" class="nav-link" id="homepage">Homepage</a></li>
	    </ul>
	  </div>
	  </div>
	</nav>


	<div class="alert alert-info" id="notifications" style="display: none;"></div>
	
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="col-sm-6">
				<div class="row-fluid">
					<div class="jumbotron">
						{% include "catan/lobby/playerlist.html" %}
					</div>
				</div>
				<div class="row-fluid">
					<div class="jumbotron">
						{% include "catan/lobby/vote.html" %}
					</div>
				</div>
			</div>
		</div>
		<div class="row-fluid">
			<div class="col-sm-6">
				<div class="row-fluid">
					<div class="jumbotron">
						{% include "catan/chat.html" %} 
					</div>
				</div>
				<div class="row-fluid">
				{# buttons #}
					<div class="well" style="text-align:center">
						<button class="btn btn-warning" id="begin_game">Begin Game</button>
						<button class="btn btn-danger" id="leave_lobby">Leave Lobby</button>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock content %}