<style type="text/css">
	.red {background-color:red;}
	.blue {background-color:blue;}
	.orange {background-color:orange;}
	.green {background-color:green;}
	.white {background-color:white;}
</style>

<div class="panel panel-primary">
	<div class="panel-heading"><strong>Players</strong></div>
	<div class="panel-body">
		<ul class="list-group" id="player_list">
		</ul>
	</div>
	<div class="panel-footer">
		<div class="btn-group" role="group" id="color_list">
			<button class="btn color_btn red" data-color="red"></button>
			<button class="btn color_btn green" data-color="green"></button>
			<button class="btn color_btn blue" data-color="blue"></button>
			<button class="btn color_btn white" data-color="white"></button>
			<button class="btn color_btn orange" data-color="orange"></button>
		</div>
	</div>
</div>